# ChristmasPi example systemd service
# /etc/systemd/system/ChristmasPi.service
[Unit]
Description=ChristmasPi Server

[Service]
User=root
WorkingDirectory=/home/pi/ChristmasPi/
ExecStart=dotnet /home/pi/ChristmasPi/ChristmasPi.dll

[Install]
WantedBy=multi-user.target