@{
    ViewData["Title"] = "Setup";
    ViewData["SetupTitle"] = "Branches";
    ViewData["SetupStep"] = 3;
    ViewBag.BreadCrumbs = new string[] { "Hardware", "Lights", "Branches" };
    ViewBag.ShowProgress = true;
    @model ChristmasPi.Models.SetupBranchesModel;
}
@section Scripts {
    <script src="/js/branch.js"></script>
    <script type="text/javascript">
        $(window).on("load", function () {
            branchSetupLoad();
        });
    </script>
}
@if (Model.HasError) {
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}
<div>
    <h3 id="currentbranch">Branch 1</h3>
    <i class="nc-icon icon-lightbulb"></i>
    <h4 id="lightcounter">1/@Model.LightCount</h4>
</div>
<div>
    <button id="minusBtn" class="btn btn-info btn-just-icon" onclick="minusLight()">
        <i class="nc-icon nc-simple-delete"></i></button>
    <button id="newBtn" class="btn btn-info btn-just-icon" onclick="newBranch()">
        <i class="nc-icon nc-scissors"></i></button>
    <button id="resetBtn" class="btn btn-info btn-just-icon" onclick="branchSetupLoad()">
        <i class="nc-icon nc-refresh-69"></i></button>
    <button id="addBtn" class="btn btn-info btn-just-icon" onclick="addLight()">
        <i class="nc-icon nc-simple-add"></i>
    </button>
</div>
<div>
     <ul id="branchlist">
     </ul>
</div>
<button id="submitBtn" class="btn btn-primary" onclick="submitBranches()">Submit</button>

<input type="hidden" id="lightcount" value="@Model.LightCount" />