@{
    ViewData["Title"] = "Setup";
    ViewData["SetupTitle"] = "Welcome";
    ViewData["SetupStep"] = 0;
    ViewBag.ShowProgress = true;
}
@section Scripts {
<script type="text/javascript">
    function StartSetup() {
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", function () {
            if (this.status !== 200) {
                showErrorModal("Failed to start setup");
            }
            else {
                location.href='/setup/next?current=start';
            }
        });
        oReq.open("POST", "/setup/start");
        oReq.setRequestHeader("Content-Type", "application/json");
        oReq.send();
    }
</script>
}
<div class="jumbotron">
    <img src="~/img/christmastree.png" class="img-fluid" alt="logo" style="width: 200px; height: 250px;" />
    <h1 class="display-4">Welcome</h1>
    <p class="lead"><a href="https://github.com/Changer098/ChristmasPi" target="_blank">ChristmasPi</a> is a fully featured server for powering your tree lights.</p>
    <hr class="my-4" />
    <p>Click the button below to begin setting up your tree.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" onclick="StartSetup()" role="button">Begin</a>
    </p>
</div>