@{
    ViewData["Title"] = "Setup";
    ViewData["SetupTitle"] = "Rebooting";
    ViewData["SetupStep"] = 5;
    ViewBag.BreadCrumbs = new string[] { "Hardware", "Lights", "Branches", "Defaults", "Services" };
    ViewBag.ShowProgress = false;
}
@section Scripts {
    <script type="text/javascript">
        var intervalHandler = null;
        function rebootPoller() {
            var oReq = new XMLHttpRequest();
            oReq.addEventListener("load", function () {
                if (this.status !== 200) {
                    console.log("no response from server yet");
                }
                else {
                    clearInterval(intervalHandler);
                    auxCompleteStep();
                }
            });
            oReq.open("GET", "/");
            oReq.send();
        }
        function auxCompleteStep() {
            var oReq = new XMLHttpRequest();
            oReq.addEventListener("load", function () {
                if (this.status !== 200) {
                    showErrorModal("Failed to complete step");
                }
                else {
                    window.location.href = this.responseURL;
                }
            });
            oReq.open("POST", "/setup/aux/complete");
            oReq.send();
        }
        $(window).on('load', function() {
            intervalHandler = setInterval(rebootPoller, 5000);
        });
    </script>
}
<h4>Rebooting, please wait</h4>
<div class='fa-3x'>
    <i class="fas fa-stroopwafel fa-spin"></i>
</div>