@{
    ViewData["Title"] = "Setup";
    ViewData["SetupTitle"] = "Services";
    ViewData["SetupStep"] = 5;
    ViewBag.BreadCrumbs = new string[] { "Hardware", "Lights", "Branches", "Defaults", "Services" };
    ViewBag.ShowProgress = true;
    @model ChristmasPi.Models.SetupServicesModel;
}
@section Scripts {
    <script src="/js/install.js"></script>
    <script type="text/javascript">
        $(window).on("load", function () {
            $("#continue-btn").hide();
            $("#installprogress").hide();
        });
        var buttonActive = $("#toggle-icon").hasClass("nc-minimal-down");
        function toggleOutput() {
            if (buttonActive) {
                $("#toggle-icon").removeClass("nc-minimal-up");
                $("#toggle-icon").addClass("nc-minimal-down");
                $("#console-output").collapse('hide');
                buttonActive = false;
            }
            else {
                $("#toggle-icon").removeClass("nc-minimal-down");
                $("#toggle-icon").addClass("nc-minimal-up");
                $("#console-output").collapse('show');
                buttonActive = true;
            }
        }
        function continueBtn() {
            location.href='/setup/next?current=services';
        }
    </script>
}
<h4>Would you like to enable the Scheduler service?</h4>
<button id="install-btn" class="btn btn-primary" onclick="installService(true)">Enable service</button>
<button id="decline-btn" class="btn btn-secondary" onclick="installService(false)">Not now</button>
<div id="installprogress" class="hide">
    <div class="card card-static" style="width: 95%;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="main-service-item">
                <div>
                    <h4 class="h-no-newline" id="main-service-status">ChristmasPi Service - Installing</h4>
                    <img class="float-right" id="main-service-icon" src="/img/icons/reindeer.gif" width="57.6" height="41.4" />
                </div>
            </li>
            <li class="list-group-item" id="scheduler-service-item">
                <div>
                    <h4 class="h-no-newline" id="scheduler-service-status">Scheduler Service - Waiting</h4>
                    <img class="float-right hidden" id="scheduler-service-icon" src="/img/icons/reindeer.gif" width="57.6" height="41.4" />
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h5 class="h-no-newline">Console Output</h5>
                    <button class="float-right btn btn-link" onclick="toggleOutput()">
                        <h5><i id="toggle-icon" class="nc-icon nc-minimal-down"></i></h5></button>
                    <div class="collapse" id="console-output">
                        <pre id="programoutput"></pre>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<button id="continue-btn" class="btn btn-info" onclick="continueBtn()">Continue</button>