<div class="jumbotron" style="background-color: #f7765f;">
    <img src="~/img/caution.png" class="img-fluid" alt="logo" style="width: 250px; height: 250px;" />
    <h3 class="display-5">ChristmasPi must be run with administrative privileges. Restart the application.</h3>
</div>